/* Element selector */
li {
    border: 8px dotted saddlebrown
}

/* id selector */
/* id selector is used to style a single specific element */
#favorite {
    background-color: cyan;
}

/* class selector */
/* The class selector is used to style multiple elements */
.vintage {
    background-color: blanchedalmond;
}

