body {
    background-color: orange;
}

/* Remember to keep media queries at the end of your css file */
/* When viewport is 700px or less the background color will be hot pink */
@media (max-width: 700px){
    body {
        background-color: hotpink;
    }
}

@media (max-width: 500px){
    h1 {
        color: cyan;
    }
}

@media (orientation: landscape){
    h2{
        text-transform: uppercase;
    }
}

