h1 {
    color: rgb(25,200,150);
}

/* BACKGROUND */
/* Sets the entire wondow to the #FFA500 color */
/* body { 
    background: #FFA500;
} */

body {
    /* Images can also be used as backgrounds */
    /* background: url(https://images.unsplash.com/photo-1580420015418-dc24a2fa2b95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80); 
    background-size: cover; */

    /* Images on computer can also be used as a background */
    background: url("pingPong.jpg");
    /* Stops image from tiling across the screen */
    background-repeat: no-repeat;
    background-size: cover;
}

/* BORDER */
/* Borders in CSS have three different values to set (width, style, and color) */

h2 {
    /* border-color: orange; 
    border-width: 7px;
    border-style: solid; */
    border: 7px solid orange;
}
